<div class="flex-1 p-6 max-w-5xl">
  <div class="bg-white rounded-lg shadow-lg p-4 ml-auto">
    <h2 class="text-2xl font-bold mb-4">Transfer</h2>
    <form [formGroup]="registerForm">
      <div class="grid grid-cols-2 gap-4 mb-4">
        <div>
          <label class="block text-gray-700 text-sm font-medium mb-2"
            >From</label
          >
          <select
            class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            formControlName="locationFrom"
            (change)="onLocationChange()"
          >
            <option value="">Select a location</option>
            <option *ngFor="let location of locations" [value]="location.id">
              {{ location.locationName }}
            </option>
          </select>
        </div>
        <div>
          <label
            class="block text-gray-700 text-sm font-medium mb-2"
            for="locationTo"
            >To</label
          >
          <select
            class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            formControlName="locationTo"
            (change)="onLocationChange()"
          >
            <option value="">Select a location</option>
            <option *ngFor="let location of locations" [value]="location.id">
              {{ location.locationName }}
            </option>
          </select>
        </div>
      </div>
      <table class="border-collapse w-full flex-wrap">
        <thead>
          <tr>
            <th class="border border-gray-300 px-2 py-2"></th>
            <th class="border border-gray-300 px-2 py-2">Variant</th>
            <th class="border border-gray-300 px-2py-2">Quantity</th>
          </tr>
        </thead>
        <tbody>
          <ng-container formArrayName="variants">
            <tr *ngFor="let variant of getVariants().controls; let i = index">
              <ng-container [formGroupName]="i">
                <td class="border border-gray-300 px-4 py-2 text-center">
                  <input type="checkbox" formControlName="selected" />
                </td>
                <td class="border border-gray-300 px-4 py-2 text-center">
                  {{ variant.value.variantName }}
                </td>
                <td class="border border-gray-300 px-4 py-2 text-center">
                  <input
                    type="text"
                    class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    formControlName="quantity"
                  />
                </td>
              </ng-container>
            </tr>
          </ng-container>
        </tbody>
      </table>

      <div class="flex items-center justify-end">
        <button
          class="inline-flex items-center mt-2 justify-center rounded-md border border-transparent bg-indigo-600 px-3 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-indigo-600/90 focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2;"
          type="submit"
          (click)="transferVariant()"
        >
          Transfer
        </button>
      </div>
    </form>
  </div>
</div>
