<div class="flex-1 p-6 max-w-5xl">
  <div class="bg-white rounded-lg shadow-lg p-4 ml-auto">
    <h2 class="text-2xl font-bold mb-4">Add Location</h2>
    <form [formGroup]="locationForm" (submit)="onSubmit()">
      <div class="grid grid-cols-2 gap-4 mb-4">
        <div>
          <label
            class="block text-gray-700 text-sm font-medium mb-2"
            for="locationName"
            >Location Name</label
          >
          <input
            class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="locationName"
            type="text"
            placeholder=""
            formControlName="locationName"
          />
        </div>
        <div>
          <label
            class="block text-gray-700 text-sm font-medium mb-2"
            for="createdAt"
            >Created At</label
          >
          <input
            class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="createdAt"
            type="text"
            placeholder=""
            formControlName="createdAt"
          />
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4 mb-4">
        <div class="mb-4">
          <label
            class="block text-gray-700 text-sm font-medium mb-2"
            for="createdBy"
            >Created By</label
          >
          <input
            class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="createdBy"
            type="text"
            placeholder=""
            formControlName="createdBy"
          />
        </div>
      </div>

      <div
        class="sm:col-span-6 space-y-6 bg-main-base-100 border-2 border-dashed border-main-base p-4 rounded-lg ng-star-inserted"
      >
        <div class="mt-6">
          <div class="text-lg font-medium leading-6 text-main-dark mb-4">
            Add Variant
          </div>
          <select
            class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          >
            <option value="">Select a variant</option>
            <option *ngFor="let variant of variants" [value]="variant.id">
              {{ variant.variantName }}
            </option>
          </select>
        </div>
        <div class="mt-6 mb-4">
          <label
            class="block text-gray-700 text-sm font-medium mb-2"
            for="quantity"
            >Quantity</label
          >
          <input
            class="border border-gray-300 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="quantity"
            type="text"
            placeholder=""
            formControlName="quantity"
          />
        </div>
      </div>
      <div class="flex items-center justify-end">
        <button
          class="inline-flex items-center mt-2 justify-center rounded-md border border-transparent bg-indigo-600 px-3 py-2 text-sm font-medium leading-4 text-white shadow-sm hover:bg-indigo-600/90 focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2;"
          type="submit"
        >
          Create
        </button>
      </div>
    </form>
  </div>
</div>
